.app {
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: var(--app-height);
  background-color: #537a97;
}
.container {
  background-color: var(--theme-bg-color);
  width: 90vw;
  max-width: 1250px;
  max-height: 860px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  border-radius: 14px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  font-size: 15px;
  font-weight: 500;
  margin: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  height: 64px;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  padding: 0 10px;
  white-space: nowrap;
}
.logo {
  width: 128px;
  display: flex;
  align-items: center;
  font-size: 20px;
  color: var(--theme-color);
}
.logo-img {
  height: 60px;
}
.mode-container {
  width: 128px;
  display: flex;
  justify-content: right;
}

.search-bar {
  flex-grow: 1;
  display: flex;
  align-items: center;
  height: 42px;
  width: 100%;
  max-width: 400px;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: var(--theme-bg-color);
  border-radius: 12px;
  box-shadow: 0 0 0 2px rgba(134, 140, 160, 0.2);
}

.search-icon {
  color: var(--theme-color);
  margin: 0 8px 0 12px;
  height: 100%;
}

.search-bar input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-family: var(--body-font);
  font-weight: 500;
  font-size: 15px;
  border: none;
  color: var(--theme-color);
}

.dark-light {
  background-color: var(--theme-bg-color);
  box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.2);
  height: 42px;
  width: 42px;
  margin-left: 10px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark-light svg {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  color: var(--theme-color);
  transition: 0.5s;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  color: var(--theme-color);
  padding: 6px 40px;
  height: 100%;
  overflow: auto;
  background-color: var(--theme-bg-color);
}
.content-section-title {
  color: var(--content-title-color);
  margin-top: 30px;
  margin-bottom: 20px;
}

.app-card {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 16px;
  background-color: var(--content-bg);
  border-radius: 14px;
  border: 1px solid var(--theme-bg-color);
  padding: 20px;
}

.main-info,
.detail-info {
  flex: 1;
  margin: 20px;
}
.main-info svg {
  width: 64px;
  height: 64px;
}
.detail-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(148px, 1fr));
  grid-template-rows: repeat(auto-fit);

  grid-gap: 10px;
  justify-content: center;
  align-items: center;
}

.app-card-mini {
  display: flex;
  height: 100%;
  flex-direction: column;
  font-size: 16px;
  background-color: var(--content-bg);
  border-radius: 14px;
  border: 1px solid var(--theme-bg-color);
  padding: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}
.app-card-mini:hover {
  transform: scale(1.1);
  background-color: var(--theme-bg-color);
}
.mini-header {
  font-weight: 400;
  display: flex;
  flex-direction: column;
}
.mini-header svg {
  font-size: 22px;
}
.mini-info {
  font-size: 24px;
  font-weight: bold;
  padding-top: 8px;
}

.city {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 36px;
}

.temp {
  font-size: 58px;
  font-weight: bold;
  margin-bottom: 6px;
}

.description {
  text-transform: capitalize;
  font-size: 18px;
}

.forecast-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app-card-forecast {
  display: flex;
  flex-direction: column;
  width: calc(20% - 20px);
  font-size: 16px;
  background-color: var(--content-bg);
  border-radius: 14px;
  border: 1px solid var(--theme-bg-color);
  padding: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}

.app-card-forecast:hover {
  transform: scale(1.1);
  background-color: var(--theme-bg-color);
}

.card-info {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
}

.card-info svg {
  width: 48px;
  height: 48px;
}
.card-weather {
  font-weight: bold;
  font-size: 28px;
}
.card-desc {
  text-transform: capitalize;
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  font-size: 18px;
  background-color: var(--content-bg);
}

@media (max-width: 930px) {
  .app-card,
  .forecast-list {
    flex-direction: column;
  }
  .app-card-forecast {
    width: 100%;
    margin-bottom: 20px;
  }
  .app-card-forecast:hover {
    transform: scale(1.02);
  }
  .logo {
    display: none;
  }
  .search-bar {
    max-width: none;
    margin: 0 20px;
  }
  .city {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 18px;
  }
  .temp {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 6px;
  }

  .description {
    text-transform: capitalize;
    font-size: 14px;
  }
  .main-info svg {
    width: 32px;
    height: 32px;
  }
  .content-wrapper {
    padding: 2px 16px;
  }
  .detail-info {
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    margin: 10px 0;
  }
  .mini-header {
    font-size: 15px;
  }
  .mini-info {
    font-size: 18px;
    padding-top: 4px;
  }
}
